@model WebApplication1.Models.BeloningsPot

@{
    ViewData["Title"] = "BeloningsPot";
}

<div class="text-center">
    <h1>BeloningsPot</h1>
    <p>Overzicht van de huidige beloningsspot.</p>
</div>

<ul>
    <li>Totaal bedrag in de pot: € @Model.HuidigePunten</li>
    <li>Aantal deelnemers: @Model.DoelPunten</li>
    <li>Laatste update: @DateTime.Now</li>
</ul>