@{
    ViewData["Title"] = "BeloningsPot";
}

<div class="text-center">
    <h1>BeloningsPot</h1>
    <p>Overzicht van de huidige beloningspot.</p>

    <ul>
        <li>Totaal bedrag in de pot: € 1.250</li>
        <li>Aantal deelnemers: 18</li>
        <li>Laatste update: @DateTime.Now</li>
    </ul>
</div>
