@{
    ViewData["Title"] = "Statistieken";
}

<div class="text-center">
    <h1>Statistieken</h1>
    <p>Hier komen de statistieken van de applicatie.</p>

    <ul>
        <li>Aantal gebruikers: 120</li>
        <li>Aantal bezoeken vandaag: 34</li>
        <li>Laatste update: @DateTime.Now</li>
    </ul>
</div>
